@model RestSupplyMVC.ViewModels.MenuItemIndexViewModel

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<p align="right">
    <button style="margin-right:10px" class="btn btn-primary " onclick="addNewOrder()">Add Menu Item</button>

</p>
<table class="table">
    <tr>

    </tr>
    @if (Model.MenuItemViewModels.Count() != 0)
    {
        foreach (var item in Model.MenuItemViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Details And Actions", "Details", new {id = item.MenuItemId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.MenuItemId})
                </td>
            </tr>
        }
    }
    else
    {
        <div class="panel-body">
            <h3 style="color:red;"> No menu items!</h3>
        </div>
    }


</table>

<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>New Menu Item</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Customer Details*@
                    <h5 style="color:#112247">Menu Item</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="Id" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Name
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="menuItem" name="name" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>

                    @*Order Details*@
                    <h5 style="margin-top:10px;color:#112247">Select Ingredients:</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="IngredientId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Product Name
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.MenuItemToCreate.AllIngredients, new SelectList(Model.MenuItemToCreate.AllIngredients, "IngredientId", "Name"), "", new { @id = "ingredientName" , @class = "form-control" })
                            </div>
                            <label class="control-label col-md-2">
                                Quantity
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="quantity" name="quantity" placeholder="insert number" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Unit
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="unit" name="unit" placeholder="Unit" class="form-control" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            
                                <div class="col-md-1 col-lg-offset-1">
                                    <a id="addToList" class="btn btn-primary">Add item</a>
                                </div>
                            
                        </div>
                       
                            

                        <table id="detailsTable" class="table">
                            <thead>
                            <tr>
                                <th style="width: 0.1%"></th> @*this is the IngredientId that is hidden*@
                                <th style="width: 29.9%">Ingredient</th>
                                <th style="width: 15%">Quantity</th>
                                <th style="width: 20%">Unit</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="saveOrder" type="submit" class="btn btn-danger">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        // Get unit for selected ingredient
        $("#ingredientName").change(function () {
            return $.ajax({
                url: "/Ingredients/GetUnitByIngredientId",
                data: { 'id': $("#ingredientName option:selected").val() },
                type: 'GET',
                dataType: "json",
                cache: false,
                success: function (response) {
                    $("#unit").val(response);
                },
                error: function () {
                    alert("Error finding unit for ingredient!");
                }
            });
        });
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();

            // Hiding the IngredientId column
            $('table#detailsTable td:nth-child(1),th:nth-child(1)').hide();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#ingredientName").val()) == "" || $.trim($("#quantity").val()) == "") return;

            var id = $("#ingredientName option:selected").val(),
                name = $("#ingredientName option:selected").text(),
                quantity = $("#quantity").val(),
                unit = $("#unit").val(),
                detailsTableBody = $("#detailsTable tbody");
            
            var productItem = '<tr><td>' + id + '</td><td>' + name + '</td><td>' + quantity + '</td><td>' + unit + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);

            // Hiding the IngredientId column
            $('table#detailsTable td:nth-child(1),th:nth-child(1)').hide();

            
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#ingredientName option:selected").remove();
            $("#quantity").val('');
            $("#unit").val('');
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/MenuItems/SaveOrder",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var ingredientsArr = [];
            ingredientsArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                ingredientsArr.push({
                    ingredientId: $(this).find('td:eq(0)').html(),
                    quantity: $(this).find('td:eq(2)').html()
                });
            });


            var data = JSON.stringify({
                menuItemName: $("#menuItem").val(),
                ingredients: ingredientsArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}