@model RestSupplyMVC.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "Delete Order";
}

<h2>@ViewBag.Title</h2>

@section scripts
{
    <script>
        alert('The order delete functionality is not implemented yet, sorry')
    </script>
}