@model RestSupplyMVC.ViewModels.NavigationViewModel

@{
    //ViewBag.Title = "title";
}

<h2>title</h2>
<table class="table">
    <tr>

        <th></th>
    </tr>
    @if (Model.ShowActions)
    {
        if (Model.IsSingleKitchen && Model.UserKitchensList.Any())
        {
            @Html.ActionLink("Customer Orders", "Index", "CustomerOrder", new { kitchenId = Model.UserKitchensList.First().KitchenId }, null)

            @Html.ActionLink("Supplier Orders", "Index", "SupplierOrder", new { kitchenId = Model.UserKitchensList.First().KitchenId }, null)

            @Html.ActionLink("Kitchen Ingredients", "Index", "KitchenIngredients", new { kitchenId = Model.UserKitchensList.First().KitchenId }, null)



        }
    }
</table>