@{
    /**/

    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2> Who are we?</h2>
    <p>
        Rest Supply was designed as a good solution to all of you restaurant owners out there.
    </p>
</div>
