@model RestSupplyMVC.ViewModels.SupplierIndexViewModel

@{
    ViewBag.Title = "Suppliers";
}

<h2>Index</h2>

<p>
    <button style="margin-right:10px" class="btn btn-primary " onclick="addNewOrder()">Add New Supplier</button>

</p>
<table class="table">
    <tr>

        <th></th>
    </tr>
    @if (Model.SuppliersList.Count() != 0)
    {
        foreach (var item in Model.SuppliersList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Info and Actions", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
    else
    {
        <div class="panel-body">
            <h3 style="color:red;">אין ספקים!</h3>
        </div>
    }


</table>

<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Add a new supplier</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Customer Details*@
                    <h5 style="color:#112247"> New supplier</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="Id" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                שם ספק
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="supplier" name="name" placeholder="שם ספק" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                כתובת
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="address" name="name" placeholder="כתובת" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                טלפון
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="phone" name="name" placeholder="טלפון" class="form-control" />
                            </div>
                        </div>
                    </div>

                    @*Order Details*@
                    <h5 style="margin-top:10px;color:#112247">Order Details</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="IngredientId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                הוסף חומר גלם
                            </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.CreateSupplierViewModel.AllIngredients, new SelectList(Model.CreateSupplierViewModel.AllIngredients, "IngredientId", "Name"), "", new { @id = "name", @class = "form-control" })
                            </div>
                            <label class="control-label col-md-2">
                                Unit
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="unit" name="unit" placeholder="Unit" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-1 col-lg-offset-1">
                                <a id="addToList" class="btn btn-primary">Add To List</a>
                            </div>

                        </div>
                        <table id="detailsTable" class="table">
                            <thead>
                            <tr>
                                <th style="width:5%"></th> @*hidden IngredientId column*@
                                <th style="width: 45%"> חומר גלם</th>
                                <th style="width: 40%"> יחידת מידה</th>

                                <th style="width: 10%"></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">סגירה</button>
                    <button id="saveSupplier" type="submit" class="btn btn-danger">שמירה</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        // Get unit for selected ingredient
        $("#name").change(function () {
            return $.ajax({
                url: "/Ingredients/GetUnitByIngredientId",
                data: { 'id': $("#name option:selected").val() },
                type: 'GET',
                dataType: "json",
                cache: false,
                success: function (response) {
                    $("#unit").val(response);
                },
                error: function () {
                    alert("Error finding unit for ingredient!");
                }
            });
        });

        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
            // Hiding the IngredientId column
            $('table#detailsTable td:nth-child(1),table#detailsTable th:nth-child(1)').hide();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#name").val()) == "") return;

            var ingredientId = $("#name option:selected").val(),
                name = $("#name option:selected").text(),
                unit = $("#unit").val(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + ingredientId + '</td><td>' + name + '</td><td>' + unit + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);

            // Hiding the IngredientId column
            $('table#detailsTable td:nth-child(1),th:nth-child(1)').hide();

            clearItem();
            
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#name option:selected").remove();
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveSupplier(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Suppliers/SaveSupplier",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!");
                }
            });
        }
        //Collect Multiple Order List For Pass To Controller
        $("#saveSupplier").click(function (e) {
            e.preventDefault();

            var ingredientsArr = [];
            ingredientsArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                ingredientsArr.push({
                    ingredientId: $(this).find('td:eq(0)').html()
                });
            });


            var data = JSON.stringify({
                supplierName: $("#supplier").val(),
                supplierAddress: $("#address").val(),
                supplierPhone: $("#phone").val(),
                ingredients: ingredientsArr
            });

            $.when(saveSupplier(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}