@{
    ViewBag.Title = "Home Page";
}



@using (Html.BeginForm("Register", "Account"))
{
    <div class="container">
        <img src="https://restsupply.blob.core.windows.net/imagecontainer/rest_best_crop_1280_720.jpg" class="img-responsive" />        
    </div>
}
